*{
  font-family: 'LT Binary Neue', sans-serif;
  font-family: 'LT Binary Neue Round', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  width: 100vw;
}
#root{
  background-color: beige;
  min-width: 100vw;
  min-height: 100vh;
}
@media (max-width: 479px) {
  #root{
    min-width: 150vw;
  }
}
@media (max-width: 320px) {
  #root{
    min-width: 250vw;
  }
}